{{ $u := .RelPermalink }}<aside class="docs-sidebar">
  <div class="sidebar-section">
    <p class="sidebar-heading">Getting Started</p>
    <ul class="sidebar-links">
      <!-- <li><a href="/docs/getting-started.html" class="sidebar-link{{ if eq $u "/docs/getting-started.html" }} active{{ end }}">Installation</a></li -->
      <li><a href="/docs/flashing-sdcard.html" class="sidebar-link{{ if eq $u "/docs/flashing-sdcard.html" }} active{{ end }}">Flashing SD Card</a></li>
      <!-- li><a href="#" class="sidebar-link">Bootloader</a></li>
      <li><a href="#" class="sidebar-link">Recovery</a></li -->
    </ul>
  </div>
  <div class="sidebar-section">
    <p class="sidebar-heading">SoC Reference</p>
    <ul class="sidebar-links">
      <li><a href="/docs/soc/rk3228.html" class="sidebar-link{{ if hasPrefix $u "/docs/soc/rk3228" }} active{{ end }}">RK3228 / RK3229</a></li>
    </ul>
  </div>
  <!--div class="sidebar-section">
    <p class="sidebar-heading">Contributing</p>
    <ul class="sidebar-links">
      <li><a href="#" class="sidebar-link">How to Contribute</a></li>
      <li><a href="#" class="sidebar-link">Code of Conduct</a></li>
      <li><a href="#" class="sidebar-link">Reporting Bugs</a></li>
    </ul>
  </div -->
</aside>
